body {
  background-color: #eaeaea; }

.container--padding {
  background-color: white;
  padding: 20px;
  margin-top: 1vh; }

.text--main {
  color: #73bf9f; }

.text--link {
  margin-bottom: 10px; }

.star--checked {
  color: orange;
  font-size: 10px; }

.star--unchecked {
  font-size: 10px;
  text-shadow: 0 0 3px orange;
  color: white; }

.star--border {
  box-shadow: 0 0 0 0.8px rgba(14, 13, 13, 0.51);
  padding: 5px 5px;
  margin: 5px 5% 0 5px;
  text-align: center;
  font-size: 15px;
  border-radius: 50px; }

.emoji {
  margin: 1% 5px;
  vertical-align: middle;
  font-size: 20px; }
  .emoji--smile {
    color: green; }

.border--green {
  color: green;
  box-shadow: 0 0 0 0.8px green; }

.border--red {
  color: red;
  box-shadow: 0 0 0 0.8px red; }

@media only screen and (max-width: 800px) {
  #description {
    display: flex;
    justify-content: center; } }

#my--button {
  color: #95b9c1;
  padding: 10px;
  margin-top: 10px; }
